version: "3.9"

services:
  db:
    image: postgres:16
    env_file:
      - config.env
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data
      - ./migrations:/docker-entrypoint-initdb.d

  app:
    build: .
    depends_on:
      - db
    env_file:
      - config.env
    ports:
      - "8080:8080"

volumes:
  db_data: